@page
@model EvansWebpage.Pages.Calculators.DirectoryModel
@{
    Layout = "_CalculatorLayout";
    ViewData["Title"] = "Calculator Directory - Destroyere1107's Calculator Museum";
}

<h2>Collection Index / Directory</h2>

<p class="breadcrumb">
    <a href="/calculatormuseum">&laquo; Back to Calculator Museum</a>
</p>

<p>
    Welcome to the directory of the collection. This index is generated automatically from a (soon-to-be) massive JSON file.
</p>
<p>Until I have added more, this list is incomplete. Go look at my MyCalcs collection to see a more up-to-date list.</p>

<img src="~/assets/misc/underconstruction.png"
     alt="Under Construction"
     style="display: block; margin: 0 auto; max-width: 620px; height: 100px;" />

<hr />

@if (Model.DirectoryData.Any())
{
    // Force a specific order so "Calculators" always appears at the top
    var orderedCategories = Model.DirectoryData
        .OrderBy(c => c.Key == "Calculator" ? 0 : c.Key == "Accessory" ? 1 : 2);

    foreach (var category in orderedCategories)
    {
        <div class="news-item">
            <h3 style="margin-top: 0">@(category.Key)s</h3>

            @foreach (var manufacturer in category.Value.OrderBy(m => m.Key))
            {
                <h4>@manufacturer.Key</h4>
                <ul>
                    @foreach (var exhibit in manufacturer.Value)
                    {
                        <li>
                            <a href="/calculators/exhibit/@exhibit.Id">@exhibit.Name</a>
    
                            @if (exhibit.UnderConstruction)
                            {
                                <span style="font-size: 0.8em; color: #666;"> &larr; Coming Soon!</span>
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    }
}
else
{
    <p><i>The directory is currently offline or updating. Please check back later.</i></p>
}