@page
@{
    Layout = null;
}
<script data-goatcounter="https://destroyere.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<h1>On the Topic of AI</h1>

<p>
    <sup>Click <a href="/Lite/Simple">here</a> to return to simple.htm.</sup>
</p>
<p>
    <sup>Click <a href="/AiTopic">here</a> to view the main version.</sup>
</p>
<p>
    Artificial intelligence (in this case, generative AI in particular) is
    everywhere these days. Emphasis on 'Everywhere'. I mean, seriously. All of the
    biggest companies in the world have their hand in it.
</p>

<h3>The Truth</h3>
<p>
    AI is here to stay. Even after the bubble pops, we have invested so much money
    into it that it would be a fool's errand to try to get rid of it. It's a
    wonderful technology with amazing applications - so long as you use it
    right...
</p>

<h3>The Good</h3>
<p>
    AI is really good at doing menial tasks. I personally used it to make some of
    the HTML and CSS for this page. It's great for getting the easy and repetitive
    stuff done so that I can focus on harder things.
</p>

<h3>The Bad</h3>
<p>
    Despite all the good it can do, we as a civilization seem intent on using it
    for all the wrong reasons. Corpos seem to believe that GenAI is able to
    completely replace a human being in any context. Spoiler alert: it can't. It's
    a tool. A very powerful tool, but a tool nonetheless. A tool that can easily
    hallucinate, write awful code, make weird things. When used
    <i>properly</i> (under supervision by a skiled human) it's great. But alas,
    technology exists only as a way to extract more value from the economy...
</p>

<h3>My Take</h3>
<p>
    Any John Q. Public can use GenAI to make something. Hell, that's what I did
    with this webpage. But in order to make something
    <i>good</i>, nothing can beat the indomitable human spirit.
</p>
<p>Ultimately:</p>
<p>
    <b>If in doubt about using AI, ask yourself: given time and resources, could
        you do it without AI?</b>
</p>
<p>
    <b>If that answer is no, then don't bother with it. Go learn. Read the
        documentation. Change until that answer is yes, so that you can change AI
        work to meet human standards.</b>
</p>

<p class="shout">
    <b>Remember: an LLM is only as poweful as the human directing it.</b>
</p>
