@page
@{
    ViewData["Title"] = "Contact - Destroyere1107's Home Page";
    ViewData["ActiveNav"] = "nav-contact";
}

<div id="content">
    <h2>Contact Me</h2>
    <p>I'd love to hear from you. Maybe. Probably. Mostly.</p>
    <p>These are the same links as the ones in my header.</p>

    <h3>Get In Touch</h3>
    <ul class="content-list">
        <li>
            <a href="mailto:Destroyere1107@outlook.com"><i class="fa-solid fa-envelope"></i> E-mail</a>
            - Destroyere1107@outlook.com
        </li>
        <li>
            <a href="https://github.com/Destroyere1107"><i class="fa-brands fa-github"></i> GitHub</a>
            -
            <a href="https://github.com/Destroyere1107">github.com/Destroyere1107</a>
        </li>
        <li>
            <a href="https://steamcommunity.com/id/Destroyere1107"><i class="fa-brands fa-steam"></i> Steam</a>
            -
            <a href="https://steamcommunity.com/id/Destroyere1107">steamcommunity.com/id/Destroyere1107</a>
        </li>
        <li>
            <a href="https://discord.com/users/735753453892010039"><i class="fa-brands fa-discord"></i> Discord</a>
            @@Destroyere1107
        </li>
    </ul>

    <p class="note-text">
        <em>Please note I deal with a lot of spam - and not the tasty kind.
            If you message and you're human, please seperate yourself from the
            bots by including an abacus emoji (🧮) somewhere in your message
            or subject.</em>
    </p>
</div>
