@page
@{
    ViewData["Title"] = "Happenings - Destroyere1107's Home Page";
    ViewData["ActiveNav"] = "nav-happenings";
}

<div id="content">
    <h2>What's Happening</h2>

    <p>Upon this page, I will record some miscellaneous news and thoughts.</p>

    <hr>
    <br>

    
    <div class="news-item">
        <span class="date">April 30, 2026</span>
        <p><strong>Fancy</strong> - Look up and right. There you'll see a revamped button...

            <p>AND WE HAVE THEMES! How cool is that? Before, there were two ways to view my page. Now, there are no less
                than FOUR ways to view it...</p>

                <p><b>IN STYLE!</b></p>
                <hr />
                <p>
                    <strong>SUPPLEMENTAL - May 6th, 2026</strong> - I have Gradient'd and color-mixed the hell out of this
                    thing.
                </p>
                <p>Now, we have two new complete themes - Gradient and Aero. I liked Gradient so much it is now the default!</p>
       
            </div>

            <div class="news-item">
                <span class="date">April 20, 2026</span>
                <p><strong>JSON'd</strong> - I did a thing with the museum.

                    <p>Again, I <b>REALLY HOPE</b> that you wouldn't really notice, but I switched the museum over from plain
                        HTML...</p>
                        <p>to a DYNAMIC PAGE! I don't have to go fishing for stuff anymore! No more inconsistencies between exhibits!
                        </p>

                        <p>All I have to do is add some JSON to a file!</p>

                        <p>Now I'll soon have to switch this over to JSON too.</p>

                        <p>But until then...</p>

                        <p><b>FEAR ME!</b></p>
       
                    </div>

                    <div class="news-item">
                        <span class="date">April 18, 2026</span>
                        <p><strong>Overkill</strong> - Do you notice anything different on this site?
                        </p>
                        <p><sup><s>Of course you don't. No one visits this shit enough to.</s></sup></p>
                        <p>Hopefully not. In case you didn't, I've transformed the project (with a teensy bit of help from Gemini) to
                            run on ASP.NET!</p>
                            <p>Now, I can hear you. "Why? Why would you do that? What purpose would it serve?"</p>
                            <p>I got no damn idea*. But I did it.</p>
                            <details>
                                <summary><sup>*Actually, I do. Click to read why...</sup></summary>
                                <p>Although much of the reason for doing this is 'because it's possible' there's more.</p>
                                <p>Firstly, I'll be able to code any widgets or similar interactives in C#, a language which I am fond of
                                    compared to JavaScript.</p>
                                    <p>Secondly, I prefer the integrated and unified environment modern .NET provides.</p>
                                    <p>Finally, and most importantly, I can waste some of Microsoft's pennies building my site every time I push
                                        to the repo.</p>
                                    </details>
                                </div>
    
                                <div class="news-item">
                                    <span class="date">April 2, 2026</span>
                                    <p><strong>100 Views</strong> - Most of them probably me. I've been repeatedly switching up my
                                        development environment and every new one I use and test adds one to the counter for some reason.
                                    </p>
                                    <p><sup>My current rotation is WebStorm. We'll see if it lasts.</sup></p>
                                    <p>In other news, the page has been added to its first webring, the Webmaster Webring!</p>
                                    <div id="webmasteringbtn" style="text-align: center"><a
                                        href="https://webmasterwebring.netlify.app?destroyere-previous">&lt;</a><a
                                        href="https://webmasterwebring.netlify.app"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/btn.png"
                                                                                         width="88" height="31"></a><a href="https://webmasterwebring.netlify.app?destroyere-random"
                                                                      style="font-size: 1.5rem;">?</a> <a href="https://webmasterwebring.netlify.app?destroyere-next">&gt;</a>
                                    </div>
                                    <p>With luck, I'll be joining a couple more soon.</p>
                                </div>

                                <div class="news-item">
                                    <span class="date">March 28, 2026</span>
                                    <p>
                                        <strong>Houston, We have a Guestbook</strong> - And God bless
                                        iframes.
                                    </p>
                                    <p>
                                        I finally decided to actually paste the damn thing
                                        <a href="/guestbook">here</a>.
                                    </p>
                                    <p>
                                        <s>It's really out of place since I haven't paid the supporter
                                            cost for custom CSS yet, but I'll get around to it. I still have
                                            so much to fix and make first.</s>
                                        </p>
                                        <p>
                                            All that being said, I'd like it if you came and signed it.
                                            <a href="/guestbook">Click here to do so</a>.
                                        </p>
                                        <p>
                                            <sup>Yeah, I put the link in twice. That's how much I want you to
                                                sign it.</sup>
                                            </p>
                                            <p>
                                                <strong>Update:</strong> It turns out that there was additional
                                                customization avaliable. That looks better now.
                                            </p>
                                            <hr />
                                            <p>
                                                <strong>SUPPLEMENTAL</strong> - If you couldn't tell from the very
                                                glowing and very shiny link in the navigation bar, I have
                                                discovered that CSS supports animations.
                                            </p>
                                            <p>The world will learn to fear me now. Muahahahaha!</p>
                                            <p>
                                                <sup>I heavily apoligize to anyone using an older computer/browser.
                                                    I couldn't resist it.</sup>
                                                </p>
                                                <sup>
                                                    <p>
                                                        Also, starting soon, I'm going to tuck older posts away on
                                                        another page.
                                                    </p>
                                                </sup>
                                            </div>

                                            <div class="news-item">
                                                <span class="date">March 25, 2026</span>
                                                <p><strong>Arch'd</strong> - No, not <i>that</i> kind of Arch...</p>
                                                <img src="https://i.postimg.cc/sfKQ52FH/IMG_0177.jpg" alt="Delicate Arch @@ Arches National Park"
                                                     style="max-width: 500px; height: auto; display: block; margin: 8px 0;" />

                                                <p><i>That</i> kind of arch.</p>

                                                <p>
                                                    If you've been wondering why most of the pages in
                                                    <a href="/calculators/directory">the Collection</a> are
                                                    still missing, it's because I'm here in the Beehive state and not
                                                    at my home (where most of my stuff and will to work is).
                                                </p>

                                                <p>But you know what I do have?</p>

                                                <img src="https://i.postimg.cc/sxnMzT9j/IMG_0199.jpg" alt="HP 50g in front of Turret Arch"
                                                     style="max-width: 500px; height: auto; display: block; margin: 8px 0;" />

                                                <p>
                                                    That's right. Most people out there can easily say that they have
                                                    a calculator. Some of them can say that their calculators are
                                                    cooler than all the other ones.
                                                </p>

                                                <p>
                                                    But can they say that their calculator has been to Arches National
                                                    Park?
                                                </p>

                                                <p>
                                                    <sup>Yes, I did take it to Delicate Arch. No, I did not remember to
                                                        take a picture of it <u>with</u> Delicate Arch.</sup>
                                                    </p>

                                                    <img src="https://i.postimg.cc/sDDWLh9Z/IMG_0209.jpg" alt="HP 50g in front of Balanced Rock"
                                                         style="max-width: 500px; height: auto; display: block; margin: 8px 0;" />
                                                    <img src="https://i.postimg.cc/hGxQmbgr/IMG_0204.jpg" alt="HP 50g lying under the North Window Arch"
                                                         style="max-width: 500px; height: auto; display: block; margin: 8px 0;" />
                                                </div>

                                                <div class="news-item">
                                                    <span class="date">March 23, 2026</span>
                                                    <p>
                                                        <strong>Launch'd</strong> &mdash; The site is now up and running.
                                                        Git is awesome. And look at that emdash. Groovy, baby. It'd feel a
                                                        lot cooler if it weren't a telltale sign of AI these days.
                                                    </p>

                                                    <p>I swear, I'll use some actual blog software. Eventually™.</p>
                                                </div>

                                                <div class="news-item">
                                                    <span class="date">SOMETIME IN MARCH 2026</span>
                                                    <p>
                                                        <strong>Toil Begins</strong> - Started putting this sh*t together.
                                                        Obviously, I didn't document the date, so I have no idea how long
                                                        I've been wrangling together this mess.
                                                    </p>
                                                    <p>
                                                        If this goes on much longer I might just start making
                                                        <i>.htm</i> files instead.
                                                    </p>
                                                </div>
                                            </div>
