@page
@model EvansWebpage.Pages.HappeningsModel
@{
    ViewData["Title"] = "Happenings - Destroyere1107's Home Page";
    ViewData["ActiveNav"] = "nav-happenings";
}

<div id="content">
    <h2>What's Happening</h2>
    <p>Upon this page, I will record some miscellaneous news and thoughts.</p>
    <hr>
    <br>

    @foreach (var post in Model.Posts)
    {
        <div class="news-item">
            <span class="date">@post.Date.ToString("MMMM d, yyyy")</span>
            
            <p><strong>@post.Title</strong></p>
            @Html.Raw(post.HtmlContent)
        </div>
    }
</div>