@page
@{
    ViewData["Title"] = "Destroyere1107's Home Page";
    ViewData["ActiveNav"] = "nav-home";
    ViewData["Keywords"] = "Destroyere1107, personal website, homepage";
    ViewData["Description"] = "Welcome to Destroyere1107's personal website.";
}

<!-- Main content -->
<div id="content">
    <h2>Welcome!</h2>
    <p>
        Welcome to my personal home page. This site is currently under
        development, so please check back often for updates. Or don't. I'm
        grasping for straws here.
    </p>
    <p>
        I update this site frequently. Force reload (<code>Ctrl+Shift+R</code>
        or <code>Fn+F5</code> usually) every so often to get the latest
        version.
    </p>

    <!--<p>
        <sup>Accessing from an older or more compact browser? Click
            <a href="/lite/simple">here</a>.</sup>
    </p>-->

    <p>
        If you got here from a webring, scroll down to get to your next
        stop. Feel free to peek at the
        <a href="/calculatormuseum">museum</a> or sign the
        <a href="/guestbook">guestbook</a> on your way out!
    </p>

    <h3>What's Happening</h3>
    <p>
        <sup>I swear to whatever divine entity you believe in that I will use
            actual blog software in the future. Probably. Eventually™.</sup>
    </p>

    <div class="news-item">
        <span class="date">April 30, 2026</span>
        <p><strong>Fancy</strong> - Look up and right. There you'll see a revamped button...

        <p>AND WE HAVE THEMES! How cool is that? Before, there were two ways to view my page. Now, there are no less
            than FOUR ways to view it...</p>

        <p><b>IN STYLE!</b></p>
        <hr/>
        <p>
            <strong>SUPPLEMENTAL - May 6th, 2026</strong> - I have Gradient'd and color-mixed the hell out of this
            thing.
        </p>
        <p>Now, we have two new complete themes - Gradient and Aero. I liked Gradient so much it is now the default!</p>
        <hr/>
        <p>
            <strong>SUPPLEMENTAL TWO</strong> - For no reason that actually means anything to you, I've also made it so
            that the theme can be set with the parameter
        <pre>theme</pre>
        .</p>
        <p>For example,
        <pre>destroyere.yugoslavia.dev/?theme=dark</pre>
        will set the theme to Simple Dark.</p>
        <hr/>
        <p>
            <strong>SUPPLEMENTAL THREE</strong> - Merriweather is my favorite font. So by default, if things work, it's
            all Merriweather.
        </p>
        <p>In addition, I have replaced the old button with this one that I like so much more!</p>

        <a href="https://destroyere.yugoslavia.dev/">
            <img src="~/assets/button-img/mcvii-v3.svg" alt="Destroyere1107's Webpage" width="88" height="31"/>
        </a>

    </div>

    <div class="news-item">
        <span class="date">April 20, 2026</span>
        <p><strong>JSON'd</strong> - I did a thing with the museum.

        <p>Again, I <b>REALLY HOPE</b> that you wouldn't really notice, but I switched the museum over from plain
            HTML...</p>
        <p>to a DYNAMIC PAGE! I don't have to go fishing for stuff anymore! No more inconsistencies between exhibits!
        </p>

        <p>All I have to do is add some JSON to a file!</p>

        <p>Now I'll soon have to switch this over to JSON too.</p>

        <p>But until then...</p>

        <p><b>FEAR ME!</b></p>

    </div>

    <div class="news-item">
        <span class="date">April 18, 2026</span>
        <p><strong>Overkill</strong> - Do you notice anything different on this site?
        </p>
        <p><sup><s>Of course you don't. No one visits this shit enough to.</s></sup></p>
        <p>Hopefully not. In case you didn't, I've transformed the project (with a teensy bit of help from Gemini) to
            run on ASP.NET!</p>
        <p>Now, I can hear you. "Why? Why would you do that? What purpose would it serve?"</p>
        <p>I got no damn idea*. But I did it.</p>
        <details>
            <summary><sup>*Actually, I do. Click to read why...</sup></summary>
            <p>Although much of the reason for doing this is 'because it's possible' there's more.</p>
            <p>Firstly, I'll be able to code any widgets or similar interactives in C#, a language which I am fond of
                compared to JavaScript.</p>
            <p>Secondly, I prefer the integrated and unified environment modern .NET provides.</p>
            <p>Finally, and most importantly, I can waste some of Microsoft's pennies building my site every time I push
                to the repo.</p>
        </details>
    </div>

    <div class="news-item">
        <span class="date">April 2, 2026</span>
        <p><strong>100 Views</strong> - Most of them probably me. I've been repeatedly switching up my
            development environment and every new one I use and test adds one to the counter for some reason.
        </p>
        <p><sup>My current rotation is WebStorm. We'll see if it lasts.</sup></p>
        <p>In other news, the page has been added to its first webring, the Webmaster Webring!</p>
        <div id="webmasteringbtn" style="text-align: center"><a
                href="https://webmasterwebring.netlify.app?destroyere-previous">&lt;</a><a
                href="https://webmasterwebring.netlify.app"><img src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/btn.png"
                                                                 width="88" height="31"></a><a
                href="https://webmasterwebring.netlify.app?destroyere-random"
                style="font-size: 1.5rem;">?</a>
            <a href="https://webmasterwebring.netlify.app?destroyere-next">&gt;</a>
        </div>
        <p>With luck, I'll be joining a couple more soon.</p>
    </div>

    <div class="news-item">
        <span class="date">March 28, 2026</span>
        <p>
            <strong>Houston, We have a Guestbook</strong> - And God bless
            iframes.
        </p>
        <p>
            I finally decided to actually paste the damn thing
            <a href="/guestbook">here</a>.
        </p>
        <p>
            <s>It's really out of place since I haven't paid the supporter
                cost for custom CSS yet, but I'll get around to it. I still have
                so much to fix and make first.</s>
        </p>
        <p>
            All that being said, I'd like it if you came and signed it.
            <a href="/guestbook">Click here to do so</a>.
        </p>
        <p>
            <sup>Yeah, I put the link in twice. That's how much I want you to
                sign it.</sup>
        </p>

        <p>
            <strong>Update:</strong> It turns out that there was additional
            customization avaliable. That looks better now.
        </p>
        <hr/>
        <p>
            <strong>SUPPLEMENTAL</strong> - If you couldn't tell from the very
            glowing and very shiny link in the navigation bar, I have
            discovered that CSS supports animations.
        </p>
        <p>The world will learn to fear me now. Muahahahaha!</p>
        <p>
            <sup>I heavily apoligize to anyone using an older computer/browser.
                I couldn't resist it.</sup>
        </p>
        <sup>
            <p>
                Also, starting soon, I'm going to tuck older posts away on
                another page.
            </p>
        </sup>
    </div>

    <div class="news-item">
        <span class="date">March 25, 2026</span>
        <p><strong>Arch'd</strong> - No, not <i>that</i> kind of Arch...</p>
        <img src="https://i.postimg.cc/sfKQ52FH/IMG_0177.jpg" alt="Delicate Arch @@ Arches National Park"
             style="max-width: 500px; height: auto; display: block; margin: 8px 0;"/>

        <p><i>That</i> kind of arch.</p>

        <p>
            If you've been wondering why most of the pages in
            <a href="/calculators/directory">the Collection</a> are
            still missing, it's because I'm here in the Beehive state and not
            at my home (where most of my stuff and will to work is).
        </p>

        <p>But you know what I do have?</p>

        <img src="https://i.postimg.cc/sxnMzT9j/IMG_0199.jpg" alt="HP 50g in front of Turret Arch"
             style="max-width: 500px; height: auto; display: block; margin: 8px 0;"/>

        <p>
            That's right. Most people out there can easily say that they have
            a calculator. Some of them can say that their calculators are
            cooler than all the other ones.
        </p>

        <p>
            But can they say that their calculator has been to Arches National
            Park?
        </p>

        <p>
            <sup>Yes, I did take it to Delicate Arch. No, I did not remember to
                take a picture of it <u>with</u> Delicate Arch.</sup>
        </p>

        <img src="https://i.postimg.cc/sDDWLh9Z/IMG_0209.jpg" alt="HP 50g in front of Balanced Rock"
             style="max-width: 500px; height: auto; display: block; margin: 8px 0;"/>
        <img src="https://i.postimg.cc/hGxQmbgr/IMG_0204.jpg" alt="HP 50g lying under the North Window Arch"
             style="max-width: 500px; height: auto; display: block; margin: 8px 0;"/>
    </div>
    <p>Click <a href="/happenings">here</a> to read older posts. </p>

    <h3>About This Site</h3>
    <p>This website was created for no real good reason.</p>

    <p>Also, take some buttons. Make sure to modify the code as needed.</p>
    <p>
        <a href="https://destroyere.yugoslavia.dev">
            <img src="~/assets/button-img/mcvii-v3.svg" alt="Visit Destroyere1107's Site" width="88" height="31"/>
        </a>
    </p>
    <p>NOTE: This one is an SVG, so you might need to convert it to a GIF beforehand.</p>
    <pre><code>&lt;a href="https://destroyere.yugoslavia.dev"&gt;
                                                                &lt;img src="https://destroyere.yugoslavia.dev/assets/button-img/mcvii-v3.svg" alt="Visit Destroyere1107's Site" /&gt;
                                                                &lt;/a&gt; <!-- This one links here --></code></pre>
    <p>
        <a href="/calculatormuseum">
            <img src="~/assets/button-img/noequals.gif" alt="RPN 4ever"/>
        </a>
    </p>
    <pre><code>&lt;a href="https://destroyere.yugoslavia.dev/calculator-museum.html"&gt;
                                                                    &lt;img src="https://destroyere.yugoslavia.dev/assets/button-img/noequals.gif" alt="RPN 4ever" /&gt;
                                                                    &lt;/a&gt;
            <!-- This one links to the museum --></code></pre>
    <p>
        <a href="/calculators/directory">
            <img src="https://destroyere.yugoslavia.dev/assets/button-img/enter.gif"
                 alt="Enter the Museum... If you Dare!"/>
        </a>
    </p>
    <pre><code>&lt;a href="https://destroyere.yugoslavia.dev/calculator-pages/directory.html"&gt;
                                                                        &lt;img src="https://destroyere.yugoslavia.dev/assets/button-img/enter.gif" alt="Enter the Museum... If you Dare!" /&gt;
                                                                        &lt;/a&gt;
            <!-- This one links to the museum --></code></pre>

    <h2>Webrings!</h2>

    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <!--Webmaster Webring-->
        <div id="wwbtn">
            <a href="https://webmasterwebring.netlify.app"><img
                    src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/50x50.png"/></a>
            <br/>
            <a href="https://webmasterwebring.netlify.app?destroyere-previous">prev</a>
            <a href="https://webmasterwebring.netlify.app?destroyere-random">?</a>
            <a href="https://webmasterwebring.netlify.app?destroyere-next">next</a>
        </div>

        <!--Gradientring-->
        <p>Application for the following webring is pending...</p>
        <div
            style="border: 1px solid transparent;border-image: linear-gradient(135deg, #4b1d99, #a855f7, #ec4899) 1;width: fit-content;margin: 0 auto;">
            <a href="https://gradientring.nekoweb.org/s/destroyere/prev">←</a> <a
                href="https://gradientring.nekoweb.org/"
                style="background: linear-gradient(
                                                                                    90deg,
                                                                                    #a855f7, #ec4899, #fb923c, #facc15, #4ade80,
                                                                                    #22d3ee, #818cf8, #a855f7, #ec4899, #fb923c, 
                                                                                    #a855f7
                                                                                    );
                                                                                    background-size: 400% 100%;
                                                                                    -webkit-background-clip: text;
                                                                                    background-clip: text;
                                                                                    -webkit-text-fill-color: transparent;
                                                                                    text-shadow: none;
                                                                                    filter: drop-shadow(0 0 4px rgba(168, 85, 247, 0.5));"><b>gradientring</b></a>
            <a href="https://gradientring.nekoweb.org/s/destroyere/next">→</a>
        </div>

        <!--Aero/Y2K Ring-->
        <div id="aero-ring" class="aero-ring-js">
            <script src="https://frutigeraeroarchive.org/javascript/aero-webring.js"></script>
        </div>

        <noscript>
            <style>
                /* Hide JavaScript Widget */
                .aero-ring-js {
                    display: none !important;
                }
            </style>

            <!-- No JS Widget -->
            <div id="aero-ring">
                <div style="display: flex; flex-direction: column; align-items: center; font-size: 1rem;">
                    <a href="https://frutigeraeroarchive.org/aero_webring" target="_top">aero & Y2K webring</a>
                    <div style="display: flex; gap: 1rem; font-size: 1.5rem">
                        <a href="https://frutigeraeroarchive.org/aero_webring#members" target="_top">No JavaScript</a>
                    </div>
                    <div style="display: flex; gap: 0.5rem; font-size: 1rem">
                        <a href="https://frutigeraeroarchive.org/aero_webring#members" target="_top">view memberlist</a>
                    </div>
                </div>
            </div>
        </noscript>
        <style>
            #aero-ring {
                background: linear-gradient(to bottom, #404040 0%, #000000 100%);
                border-radius: 10px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 2px 1px rgba(255, 255, 255, 0.15), inset 0 -2px 1px rgba(0, 0, 0, 0.35);
                font-family: sans-serif;
                margin: 10px auto 0px auto;
                max-width: 15rem;
                padding: 0.75rem;
            }

            #aero-ring a,
            #aero-ring a:visited {
                color: white !important;
            }

            #aero-ring a:focus,
            #aero-ring a:hover,
            #aero-ring a:active {
                color: lightgrey !important;
            }
        </style>
        <p><sup>Psst: Site looking a little out of place for the above ring? Click the [Themes] button and select 'Aero'...</sup></p>

    </div>

</div>