@page
@model EvansWebpage.Pages.IndexModel
@{
    ViewData["Title"] = "Destroyere1107's Home Page";
    ViewData["ActiveNav"] = "nav-home";
    ViewData["Keywords"] = "Destroyere1107, personal website, homepage";
    ViewData["Description"] = "Welcome to Destroyere1107's personal website.";
}

<!-- Main content -->
<div id="content">
    <h2>Welcome!</h2>
    <p>
        Welcome to my personal home page. This site is currently under
        development, so please check back often for updates. Or don't. I'm
        grasping for straws here.
    </p>
    <p>
        I update this site frequently. Force reload (<code>Ctrl+Shift+R</code>
        or <code>Fn+F5</code> usually) every so often to get the latest
        version.
    </p>

    <!--<p>
        <sup>Accessing from an older or more compact browser? Click
            <a href="/lite/simple">here</a>.</sup>
    </p>-->

    <p>
        If you got here from a webring, scroll down to get to your next
        stop. Feel free to peek at the
        <a href="/calculatormuseum">museum</a> or sign the
        <a href="/guestbook">guestbook</a> on your way out!
    </p>

    <h3>What's Happening</h3>
    <div class="recent-happenings">
        <h3>Latest Happenings</h3>
        <hr>
    
        @foreach (var post in Model.RecentPosts)
        {
            <div class="news-item">
                <span class="date">@post.Date.ToString("MMMM d, yyyy")</span>
                <p><strong>@post.Title</strong></p>

                @Html.Raw((object)post.HtmlContent)
            </div>
            <br>
        }
        
    </div>
    <p>Click <a href="/happenings">here</a> to read older posts. </p>

    <h3>About This Site</h3>
    <p>This website was created for no real good reason.</p>

    <h2>Webrings!</h2>

    <div style="text-align: center; display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <!--Webmaster Webring-->
        <div id="wwbtn">
            <a href="https://webmasterwebring.netlify.app"><img
                    src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/50x50.png"/></a>
            <br/>
            <a href="https://webmasterwebring.netlify.app?destroyere-previous">prev</a>
            <a href="https://webmasterwebring.netlify.app?destroyere-random">?</a>
            <a href="https://webmasterwebring.netlify.app?destroyere-next">next</a>
        </div>

        <!--Gradientring-->
        <p>Application for the following webring is pending...</p>
        <div
            style="border: 1px solid transparent;border-image: linear-gradient(135deg, #4b1d99, #a855f7, #ec4899) 1;width: fit-content;margin: 0 auto;">
            <a href="https://gradientring.nekoweb.org/s/destroyere/prev">←</a> <a
                href="https://gradientring.nekoweb.org/"
                style="background: linear-gradient(
                                                                                    90deg,
                                                                                    #a855f7, #ec4899, #fb923c, #facc15, #4ade80,
                                                                                    #22d3ee, #818cf8, #a855f7, #ec4899, #fb923c, 
                                                                                    #a855f7
                                                                                    );
                                                                                    background-size: 400% 100%;
                                                                                    -webkit-background-clip: text;
                                                                                    background-clip: text;
                                                                                    -webkit-text-fill-color: transparent;
                                                                                    text-shadow: none;
                                                                                    filter: drop-shadow(0 0 4px rgba(168, 85, 247, 0.5));"><b>gradientring</b></a>
            <a href="https://gradientring.nekoweb.org/s/destroyere/next">→</a>
        </div>

        <!--Aero/Y2K Ring-->
        <div id="aero-ring" class="aero-ring-js">
            <script src="https://frutigeraeroarchive.org/javascript/aero-webring.js"></script>
        </div>

        <noscript>
            <style>
                /* Hide JavaScript Widget */
                .aero-ring-js {
                    display: none !important;
                }
            </style>

            <!-- No JS Widget -->
            <div id="aero-ring">
                <div style="display: flex; flex-direction: column; align-items: center; font-size: 1rem;">
                    <a href="https://frutigeraeroarchive.org/aero_webring" target="_top">aero & Y2K webring</a>
                    <div style="display: flex; gap: 1rem; font-size: 1.5rem">
                        <a href="https://frutigeraeroarchive.org/aero_webring#members" target="_top">No JavaScript</a>
                    </div>
                    <div style="display: flex; gap: 0.5rem; font-size: 1rem">
                        <a href="https://frutigeraeroarchive.org/aero_webring#members" target="_top">view memberlist</a>
                    </div>
                </div>
            </div>
        </noscript>
        <style>
            #aero-ring {
                background: linear-gradient(to bottom, #404040 0%, #000000 100%);
                border-radius: 10px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), inset 0 2px 1px rgba(255, 255, 255, 0.15), inset 0 -2px 1px rgba(0, 0, 0, 0.35);
                font-family: sans-serif;
                margin: 10px auto 0px auto;
                max-width: 15rem;
                padding: 0.75rem;
            }

            #aero-ring a,
            #aero-ring a:visited {
                color: white !important;
            }

            #aero-ring a:focus,
            #aero-ring a:hover,
            #aero-ring a:active {
                color: lightgrey !important;
            }
        </style>
        <p><sup>Psst: Site looking a little out of place for the above ring? Click the [Themes] button and select
                'Aero'...</sup></p>

    </div>

</div>