@page
@{
    ViewData["Title"] = "Links - Destroyere1107's Home Page";
}

<div id="content">
    <h2>Links &amp; 'Rings</h2>
    <p>There's nothing here... <i>yet.</i></p>
    <!--
    <h3>Technology &amp; Programming</h3>
    <ul class="content-list">
        <li>
            <a href="https://www.github.com">GitHub</a> - Code hosting and
            collaboration platform
        </li>
        <li>
            <a href="https://stackoverflow.com">Stack Overflow</a> - where even you can be mistreated.
        </li>
        <li>
            <a href="https://developer.mozilla.org">MDN Web Docs</a> - Web
            technology reference, instrumental for this site's existence...
        </li>
    </ul>
    -->
</div>
