@page
@{
    ViewData["Title"] = "Sitemap - Destroyere1107's Home Page";
}

<div id="content">
    <p>
        Haha! You really thought I would have the patience to make a sitemap? WRONG!
    </p>
    <p>I'll make it eventually™.</p>

    <p>
        In the meantime, please return to
        <a href="/">Front Stage...</a>
    </p>
</div>
