@page
@{
    ViewData["Title"] = "[Insert Title] - Destroyere1107's Home Page";
    ViewData["Keywords"] = "Destroyere1107, [Insert Keywords]";
    ViewData["Description"] = "[Insert Description]";
}

<div id="content">
    <!-- PAGE CONTENT GOES HERE -->

    <p>
        This is a template page. You're not supposed to be here. Click any
        of the links above to return to front stage.
    </p>
</div>
