@page
@{
    ViewData["Title"] = "Yugoslavia.dev - Destroyere1107's Home Page";
    ViewData["ActiveNav"] = "nav-yugoslavia-dev";
}

<div id="content">
    <h2>Yugoslavia.dev</h2>
    <p>
        Yugoslavia is a crowdsourced cluster of compute resources, piled
        next to a cabinet. Just like the late country it shares its name
        with, its' a pile of randomness cobbled together.
    </p>
    <p>
        <sup>A pile which my page is shamelessly piggybacking off of.</sup>
    </p>
    <p>The best part is, you can join in on the fun!</p>
    <p>So what are you waiting for?</p>

    <p>
        <a href="https://discord.gg/AbHHJ8JRZd">Join the Discord (Do this first)</a>
    </p>
    <p>
        <a href="https://yugoslavia.dev">Then visit Yugoslavia.dev!</a>
    </p>
</div>
