<div class="sidebar-section">
    <h3>Calculator Museum</h3>
    <ul>
        <li><a href="/calculatormuseum">Museum Home</a></li>
        <li><a href="/calculators/directory">Collection Index</a></li>
        <li><a href="/calculators/hp28c">Exhibit of the Month</a></li>
    </ul>
</div>

<div class="sidebar-section">
    <h3>Fun Facts</h3>
    <p>
        The word "calculator" originally referred to a <em>person</em> who performed
        math as a job.
    </p>
</div>
