<hr />
<p style="font-size: 0.85em; color: #666">
    The content of Destroyere1107's Calculator Museum not otherwise owned by their
    respective creators are licensed under
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">CC BY-NC-SA 4.0</a>
    <i class="fa-brands fa-creative-commons" style="margin-left: 0.2em"></i>
    <i class="fa-brands fa-creative-commons-by" style="margin-left: 0.2em"></i>
    <i class="fa-brands fa-creative-commons-nc" style="margin-left: 0.2em"></i>
    <i class="fa-brands fa-creative-commons-sa" style="margin-left: 0.2em"></i>
</p>
<p style="font-size: 0.85em; color: #666">
    <i class="fa-brands fa-creative-commons" style="margin-left: 0.2em"></i>
    <i class="fa-solid fa-circle-plus"></i>
    Permissions beyond the scope of this license may be available through the
    links on
    <a href="/contact" rel="cc:morePermissions">the contact page</a>.
</p>
