<div class="sidebar-section">
    <h3>Quick Links</h3>
    <ul>
        <li><a href="https://yugoslavia.dev">Visit yugoslavia.dev</a></li>
        <li><a href="https://discord.gg/AbHHJ8JRZd">Join the Yugoslavia Discord</a></li>
        <li><a href="/contact">Get in touch</a></li>
        <li><a href="https://github.com/Destroyere1107/evans-webpage">View the Source</a></li>
    </ul>
</div>

<div class="sidebar-section">
    <h3>Site Info</h3>
    <img alt="GitHub last commit (branch)"
         src="https://img.shields.io/github/last-commit/destroyere1107/evans-webpage/main?display_timestamp=author&style=for-the-badge&label=Updated" />
    <img alt="GitHub commit activity"
         src="https://img.shields.io/github/commit-activity/w/destroyere1107/evans-webpage?style=for-the-badge&label=Commits" />
    <img alt="GitHub code size in bytes"
         src="https://img.shields.io/github/languages/code-size/destroyere1107/evans-webpage?style=for-the-badge" />
    <img alt="GitHub License"
         src="https://img.shields.io/github/license/destroyere1107/evans-webpage?style=for-the-badge" />
    <a href="https://destroyere.goatcounter.com/">
        <img src="https://destroyere.goatcounter.com/counter/TOTAL.svg" alt="Total Visitors" />
    </a>
</div>

<div class="sidebar-section">
    <h3>My Buttons</h3>
    <p><sup>Please feel free to take these (But please don't hotlink). These link to where they should if you do.</sup></p>
    <p>
        <a href="https://destroyere.yugoslavia.dev">
            <img src="~/assets/button-img/mcvii-v3.svg" alt="Visit Destroyere1107's Site" width="88" height="31"/>
        </a>
    </p>
    <p>
        <a href="https://destroyere.yugoslavia.dev">
            <img src="~/assets/button-img/mcvii-v2.gif" alt="Visit Destroyere1107's Site"/>
        </a>
    </p>
    <p>
        <a href="/calculatormuseum">
            <img src="~/assets/button-img/noequals.gif" alt="RPN 4ever"/>
        </a>
    </p>
    <p>
        <a href="/calculators/directory">
            <img src="https://destroyere.yugoslavia.dev/assets/button-img/enter.gif"
                 alt="Enter the Museum... If you Dare!"/>
        </a>
    </p>
    
</div>